.background
{
    -fx-pref-width: 600.0;
    -fx-background-color: #FFECD1;
}

.create-background
{
    -fx-pref-width: 520.0;
    -fx-alignment: center;
    -fx-background-color: #001524;
    -fx-background-radius: 15.0;
}

.create-text-field
{
    -fx-background-color: #001524;
    -fx-background-radius: 15.0;
    -fx-border-width: 2.0;
    -fx-border-color: #FFECD1;
    -fx-border-radius: 15.0;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14.0;
    -fx-font-family: "Ubuntu Mono Bold";
}

.create-label
{
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16.0;
}

.create-menu-button
{
    -fx-background-color: #001524;
    -fx-background-radius: 20.0;
    -fx-border-width: 2.0;
    -fx-border-color: #FFECD1;
    -fx-border-radius: 20.0;
    -fx-font-size: 14.0;
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;
    -fx-text-fill: #FFFFFF;
}
.create-menu-button .arrow {
    -fx-background-color: #15616D;
}
.create-menu-button .arrow:hover {
    -fx-background-color: #112A3B;
}

.create-menu-button .context-menu
{
    -fx-background-color: #FFECD1;
    -fx-background-radius: 15.0;
}

.create-menu-button .check-menu-item
{
    -fx-background-radius: 15.0;
    -fx-background-color: #FFECD1;
    -fx-text-fill: #001524;
}

.create-menu-button .check-menu-item:focused .label
{
    -fx-text-fill: #78290F;
}

.create-menu-button .check-menu-item
{
    -fx-mark-color: #FF7D00;
}

.create-menu-button .check-menu-item:focused
{
    -fx-mark-color: #78290F;
}

.create-button
{
    -fx-background-color: #FFECD1;
    -fx-fill: #001524;
    -fx-background-radius: 19.0;
    -fx-pref-height: 0.0;
    -fx-pref-width: 169.0;
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-font-size: 16.0;
}
.create-button:hover{
    -fx-background-color: #00223B;
}
.radio-button
{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16.0;
    -fx-font-family: "Ubuntu Mono Bold";
}

.radio-button .radio
{
    -fx-background-color: #001524;
    -fx-border-color: #FFECD1;
    -fx-border-radius: 15.0;
    -fx-border-width: 2.0;
}

.radio-button:selected .radio .dot
{
    -fx-background-color: #FF7D00;
}

.progress-indicator
{
    -fx-progress-color: #FF7D00;
}