.background
{
    -fx-pref-height: 400.0;
    -fx-pref-width: 600.0;
    -fx-background-color: #FFECD1;
}

.label
{
    -fx-text-fill: #001524;
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-font-size: 16.0;
}

.search
{
    -fx-background-color: #001524;
    -fx-background-radius: 15.0;
    -fx-prompt-text-fill: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-font-size: 16.0;
}

.button
{
    -fx-background-color: #001524;
    -fx-background-radius: 15.0;
}
.button:hover {
    -fx-background-color: #00223B;
}
.noMatch {
    -fx-text-fill: #001524;
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-font-size: 14.0;
}
.progress-indicator
{
    -fx-progress-color: #FF7D00;
}

.list-view .list-cell,
.list-view
{
    -fx-background-color: #001524;
    -fx-background-radius: 15.0;
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-font-size: 16.0;
    -fx-text-fill: #FFFFFF;
}

.list-view .scroll-bar
{
    -fx-background-color: transparent;
}

.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button
{
    -fx-background-color: transparent;
}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow
{
    -fx-background-color: #FFECD1;
}

.list-view .scroll-bar .thumb
{
    -fx-background-color: #FFECD1;
    -fx-background-radius: 5.0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button
{
    -fx-padding: 0;
}

.list-view .corner
{
    -fx-background-color: transparent;
}