@font-face {
    font-family: 'Ubuntu Mono Bold';
    src: url('../fonts/UbuntuMono-B.ttf');
}
.background {
    -fx-pref-height: 30.0;
    -fx-pref-width: 600.0;
    -fx-background-color: #112A3B;
}
.user-role {
    -fx-fill: #FFECD1;
    -fx-font-family: "Ubuntu Mono Bold";
}
.menu-button {
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-background-color: #112A3B;
    -fx-background-radius: 15.0;
}
.menu-button:hover {
    -fx-background-color: #001524;
}
.menu-button .label {
    -fx-text-fill: #FFECD1;
}
.context-menu {
    -fx-background-color: #FFECD1;
    -fx-background-radius: 15.0;
}
.context-menu .label{
    -fx-text-fill: #112A3B;
}
.menu-item {
    -fx-background-radius: 15.0;
}
.menu-item:focused {
    -fx-background-color: #FFECD1;
}
.menu-item:focused .label {
    -fx-text-fill: #78290F;
}
.menu-button .arrow-button {
    -fx-padding: 0;
}
.menu-button .arrow-button .arrow{
    -fx-padding: 0;
}
