.background
{
    -fx-pref-height: 400.0;
    -fx-pref-width: 600.0;
    -fx-background-color: #FFECD1;
}

.update-background
{
    -fx-background-color: #001524;
    -fx-background-radius: 15.0;
}

.update-title
{
    -fx-fill: #001524;
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-font-size: 16.0;
}

.label
{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-font-size: 16.0;
}

.progress-indicator
{
    -fx-progress-color: #FF7D00;
}

.button
{
    -fx-background-color: #FFECD1;
    -fx-background-radius: 20.0;
    -fx-fill: #001524;
    -fx-font-size: 16.0;
    -fx-font-family: "Ubuntu Mono Bold";
}

.button:hover
{
    -fx-background-color: #DCCEB9;
}

.text-field
{
    -fx-background-color: #001524;
    -fx-background-radius: 15.0;
    -fx-border-width: 2.0;
    -fx-border-color: #FFECD1;
    -fx-border-radius: 15.0;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14.0;
    -fx-font-family: "Ubuntu Mono Bold";
}

.text-field-invalid
{
    -fx-background-color: #001524;
    -fx-background-radius: 15.0;
    -fx-border-width: 2.0;
    -fx-border-color: #E92927;
    -fx-border-radius: 15.0;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14.0;
    -fx-font-family: "Ubuntu Mono Bold";
}

.update-menu-button
{
    -fx-background-color: #001524;
    -fx-background-radius: 20.0;
    -fx-border-width: 2.0;
    -fx-border-color: #FFECD1;
    -fx-border-radius: 20.0;
    -fx-font-size: 14.0;
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-prompt-text-fill: #FFFFFF;
}

.update-menu-button .arrow
{
    -fx-background-color: #15616D;
}

.update-menu-button .arrow:hover
{
    -fx-background-color: #112A3B;
}

.update-menu-button .context-menu
{
    -fx-background-color: #FFECD1;
    -fx-background-radius: 15.0;
}

.update-menu-button .check-menu-item
{
    -fx-background-radius: 15.0;
    -fx-background-color: #FFECD1;
}

.update-menu-button .check-menu-item .label
{
    -fx-text-fill: #001524;
}

.update-menu-button .check-menu-item:focused .label
{
    -fx-text-fill: #78290F;
}

.update-menu-button .check-menu-item
{
    -fx-mark-color: #FF7D00;
}

.update-menu-button .check-menu-item:focused
{
    -fx-mark-color: #78290F;
}